<!-- Navigation - Pill Style -->
<nav class="navbar" id="navbar">
    <div class="nav-pill">
        <a href="index.html" class="nav-logo">
            <img src="assets/images/figli%20delle%20stelle%20.svg" alt="Figli delle Stelle">
        </a>
        <button class="nav-toggle" id="navToggle" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu" id="navMenu">
            <li><a href="index.html" class="nav-link" data-nav="home">Home</a></li>
            <li><a href="index.html#eventi" class="nav-link" data-nav="eventi">Eventi</a></li>
            <li><a href="index.html#gallery" class="nav-link" data-nav="gallery">Gallery</a></li>
            <li><a href="https://www.instagram.com/___figlidellestelle___/" target="_blank" class="nav-link"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</nav>
